/* .scrollBar {
  z-index: 1000;
  visibility: visible;
  display: inline-block;

  position: absolute;
  top: 50px;
  right: 0px;

  height: 100vh;
  width: 100px;

  background-color: magenta;
}

.slider {
  z-index: 1000;
  visibility: visible;
  display: inline-block;

  position: absolute;
  top: 50px;
  right: 0px;

  height: 100vh;
  width: 100px;

  background-color: lime;
} */
