.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  height: 50px;
  width: 100%;

  margin: 0;
  padding: 0;
  border: 0;

  background-color: hsl(209, 100%, 13%);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    hsla(209, 100%, 50%, 100%) 0%,
    hsla(209, 100%, 25%, 100%) 25%,
    hsla(209, 100%, 25%, 100%) 100%
  );
  color: white;
  /* visibility: hidden; */
  /* opacity: 50%; */

  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  height: 50px;

  margin: 0;
  padding: 0;
  border: 0;

  list-style-type: none;

  /* background-color: blue; */
}

.nav li {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  border: 0;

  /* height: 40px; */

  /* justify-self: end; */

  margin: 5px 0px 5px 5px;
  /* background-color: cyan; */
}

.nav li > * {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  min-width: 40px;

  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 2px;

  /* background-color: lime; */
}

.nav a {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 5px;

  height: 40px;
  border-radius: 2px;

  /* background-color: yellow; */
}

.nav a:hover {
  /* background-color: hsl(0, 0%, 80%); */
  background: hsl(209, 100%, 50%);
}

.nav li.logo {
  margin: 0;
  padding: 0;
  border: 0;

  margin-left: 5px;
}

.nav li.logo span {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 5px;

  height: 40px;

  font-weight: bold;
  font-size: 18px;
  /* background-color: lime; */
}

.nav ul.right {
  flex-grow: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: flex-end; */

  min-width: 50px;

  /* background-color: magenta; */
}

.nav ul.right a:hover {
  /* background-color: hsl(0, 0%, 80%); */
  background-color: hsl(209, 100%, 50%);
}

.nav ul.right li {
  margin: 0;
  padding: 0;
  border: 0;

  /* margin-right: 5px; */
  /* background-color: lime; */
}

.nav li.divider {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 10px;

  height: 40px;
  width: 1px;

  background-color: hsl(0, 0%, 100%);
}

.menuButton {
  height: 50px;
  width: 50px;
  padding: 5px;
  /* margin-right: 15px; */
}

.mobileNavContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 50px;
  left: 0;

  height: auto;
  width: 100%;

  padding: 10px;

  background-color: hsla(209, 100%, 25%, 100%);
  /* background: linear-gradient(
    135deg,
    hsla(209, 100%, 50%, 100%) 0%,
    hsla(209, 100%, 25%, 100%) 25%,
    hsla(209, 100%, 25%, 100%) 100%
  ); */
  color: white;

  /* background-color: magenta; */
}

.mobileNavContent ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  width: 100%;

  margin: 0;
  padding: 0;
  border: 0;

  /* background-color: red; */
}

.mobileNavContent li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 25%; */
  min-width: 25%;

  margin: 0;
  padding: 0;
  border: 0;

  /* background-color: magenta; */
}

.mobileNavContent li a {
  height: auto;
  width: 100%;

  margin: 0;
  padding: 5px;
  border: 0;
  margin-bottom: 5px;

  /* background-color: lime; */
}

.mobileNavContent hr {
  width: 90%;

  margin: 10px;
  padding: 0;
  border: 0;

  height: 1px;

  background-color: white;
}

.menuButton:hover {
  background: hsl(209, 100%, 50%);
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}
