.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  /* max-width: 600px; */

  margin: 0;
  padding: 0;
  border: 0;
  padding: 15px;
  border-radius: 5px;

  background-color: hsl(209, 100%, 15%);

  /* background-color: hsla(209, 100%, 25%, 100%); */
}

.project > *,
.image {
  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;
}

.project h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;

  margin-bottom: 15px;

  /* background-color: lime; */
}

.project h4 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;

  margin-bottom: 15px;

  /* background-color: lime; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  margin-bottom: 15px;

  /* background-color: red; */
}

.content .image {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 256px;
  min-width: 50%;
  height: 100%;

  /* background-color: magenta; */
}

.content p {
  flex-grow: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  min-width: 50%;
  width: 100%;

  text-align: left;

  /* background-color: lime; */
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  border: 0;

  /* background-color: purple; */
}

@media only screen and (max-width: 599px) {
  .content {
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .content p {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .content p {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1800px) {
  .content p {
    margin-left: 15px;
  }
}
