.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 48px;

  margin: 0;
  padding: 0;
  border: 0;
  padding: 15px;
  border-radius: 5px;
  min-height: fit-content;
  height: 100%;
  width: 100%;

  background-color: hsla(209, 100%, 25%, 50%);
}

.project > *,
.image {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.project h1 {
  display: normal;
  position: absolute;
  top: 5px;
  left: 5px;
  width: fit-content;
  font-size: 48px;
}

.project h2 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.project h4 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.content .image {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 256px;
  min-width: 50%;
  height: 100%;
}

.content p {
  flex-grow: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  min-width: 50%;
  width: 100%;

  text-align: left;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  border: 0;
}

.linkButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;

  position: absolute;
  top: 5px;
  right: 5px;

  width: fit-content;

  list-style-type: none;
}

.linkButtons li {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  height: 32px;
  width: 32px;
  font-size: 24px;

  text-align: left;
  background: linear-gradient(
    135deg,
    hsla(209, 100%, 50%, 100%) 0%,
    hsla(209, 100%, 25%, 100%) 100%
  );
}

.linkButtons li:hover {
  /* background: linear-gradient(135deg, hsla(209, 100%, 50%, 100%) 0%, hsla(209, 100%, 25%, 100%) 100%); */
  background: hsl(209, 100%, 50%);
  /* background-color: hsl(182, 100%, 40%); */
  cursor: pointer;
}

.linkButtons li span {
  margin-left: 5px;
  width: 100%;
}

@media only screen and (max-width: 599px) {
  .content {
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .content p {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .content p {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1800px) {
  .content p {
    margin-left: 15px;
  }
}
