.iconWhiteColorFilter {
  /* filter: invert(95%) sepia(100%) saturate(19%) hue-rotate(324deg)
    brightness(104%) contrast(106%); */
  filter: brightness(0%) saturate(100%) invert(95%) sepia(100%)
    hue-rotate(324deg) contrast(106%);
  /* filter: brightness(0%) saturate(100%) contrast(100%) invert(100%)
    grayscale(100%); */
}

.iconGrayscaleColorFilter {
  filter: grayscale(100%);
}

.projectFiltersContainer {
  min-width: 512px;
  /* width: 50%; */
}

.projectFilterGroupContainer {
  display: grid;
  grid-gap: 4px;
  width: 100%;
  grid-template-columns: repeat(3, minmax(fit-content, 1fr));
}

.projectFilterGroup {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
  min-width: 200px;
  /* background-color: red; */
}
.projectFilterGroup h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.projectFilterGroup ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.projectFilterGroup h4,
.projectFilterGroup ul {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 100px;
}

.projectFiltersStyle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  margin: 0;
  padding: 0;
  border: 0;

  list-style-type: none;
  font-weight: bold;
}

.projectFiltersStyle,
.projectFiltersStyle *,
.projectFiltersStyle *::before,
.projectFiltersStyle *::after {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.projectFilterStyle {
  display: flex;
  gap: 4px;

  padding: 5px;
  border-radius: 2px;

  background: linear-gradient(
    135deg,
    hsla(209, 100%, 50%, 100%) 0%,
    hsla(209, 100%, 25%, 100%) 100%
  );
}

.projectFilterStyle:hover {
  cursor: pointer;

  background: hsl(209, 100%, 50%);
}

.projectFilterStyle.active {
  background: linear-gradient(
    135deg,
    hsla(105, 100%, 50%, 100%) 0%,
    hsla(105, 100%, 25%, 100%) 100%
  );
  background-color: green;
}

.projectFilterStyle.active:hover {
  background: hsl(105, 100%, 50%);
  cursor: pointer;
}
