.main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;

  margin: 15px;
  padding: 15px;
  border: 0;
  border-radius: 5px;

  /* background-color: hsla(209, 100%, 25%, 100%); */
  background-color: hsl(209, 100%, 15%);
  color: white;
}

.main a {
  color: hsl(209, 100%, 50%);
}

.main a:hover {
  background-color: hsl(209, 100%, 50%);
  color: white;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.contactInfo > * {
  margin-bottom: 10px;

  width: 50%;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  .main {
    min-width: 600px;
    width: 50%;
    flex-direction: column;
  }
}
