.iconWhiteColorFilter {
  filter: brightness(0%) saturate(100%) invert(95%) sepia(100%)
    hue-rotate(324deg) contrast(106%);
}

.iconGrayscaleColorFilter {
  filter: grayscale(100%);
}

.tagListStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 4px;

  margin: 0;
  padding: 0;
  border: 0;

  width: 100%;

  list-style-type: none;
  font-weight: bold;
}

.tagListStyle,
.tagListStyle *,
.tagListStyle *::before,
.tagListStyle *::after {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
